Para abrir el cliente de este mqtt usar el siguiente enlace

<a href="https://github.com/Alex980102/mqtt_MNA_A4/blob/main/client_mqtt.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

Para iniciar este proyecto solo debemos de dar click en Entorno de ejecución > Ejecutar todo

In [2]:
!git clone https://github.com/Alex980102/mqtt_MNA_A4.git

Cloning into 'mqtt_MNA_A4'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 1), reused 12 (delta 1), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [6]:
%cd /content/mqtt_MNA_A4/

/content/mqtt_MNA_A4

In [7]:
!pip install -r requirements.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting paho-mqtt
  Downloading paho-mqtt-1.6.1.tar.gz (99 kB)
     |████████████████████████████████| 99 kB 3.7 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (1.3.5)
Collecting python-dotenv
  Downloading python_dotenv-0.20.0-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Building wheels for collected packages: paho-mqtt
  Building wheel for paho-mqtt (setup.py) ... done
  Created wheel for paho-mqtt: filename=paho_mqtt-1.6.1-py3-none-any.whl size=62133 sha256=63bf04e25e9e42964bb3a0fb2a49b13d1b92bcfac7aec970a8d3975972d029f2
  Stored in directory: /root/.cache/pip/wheels/d0/bf/ac/2b3f43f8c6fcd0f4ba5395397458c521eb0b52d33b574a5a40
Successfully built paho-mqtt
Installing collected packages: python-dotenv, paho-mqtt
Successfully installed paho-mqtt-1.6.1 python-dotenv-0.20.0

In [8]:
import pandas as pd
import paho.mqtt.client as mqtt
import time
from random import randint
import os
from dotenv import load_dotenv
load_dotenv()

True

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/Alex980102/mqtt_MNA_A4/main/db/DatosPruebaMQTT.csv', index_col=0)
df

      Temperature  Humidity   Light         CO2  HumidityRatio
0           22.00   27.1000    0.00  557.000000       0.004431
1           20.50   21.2900    0.00  435.500000       0.003168
2           20.70   22.7900    0.00  455.500000       0.003435
3           20.26   33.0600    0.00  452.333333       0.004861
4           23.10   17.0000  283.25  451.000000       0.002965
...           ...       ...     ...         ...            ...
9994        22.00   21.3925  469.00  880.750000       0.003492
9995       285.29   26.2000   48.50  421.500000       0.003853
9996        22.79   17.1000  150.00  443.500000       0.002926
9997        19.39   26.8900    0.00  471.000000       0.003739
9998        21.60   18.5000   53.75  446.500000       0.002945

[9999 rows x 5 columns]

In [10]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9898 entries, 0 to 9998
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Temperature    9898 non-null   float64
 1   Humidity       9898 non-null   float64
 2   Light          9898 non-null   float64
 3   CO2            9898 non-null   float64
 4   HumidityRatio  9898 non-null   float64
dtypes: float64(5)
memory usage: 464.0 KB

In [11]:
df.describe()

       Temperature      Humidity        Light          CO2  HumidityRatio
count  9898.000000   9898.000000  9898.000000  9898.000000    9898.000000
mean     85.289824    478.969754   120.232916   607.146749       0.003861
std     199.728631   1701.386088   195.555121   314.453658       0.000851
min      19.000000     16.745000     0.000000   412.750000       0.002674
25%      19.790000     20.650000     0.000000   439.333333       0.003084
50%      20.600000     26.650000     0.000000   454.000000       0.003798
75%      21.790000     31.500000   263.250000   642.666667       0.004350
max    1019.500000  10026.000000  1546.333333  2028.500000       0.006476

In [12]:
temp = df.Temperature
hum = df.Humidity
co = df.CO2

In [13]:
# broker_list = ['broker.hivemq.com', 'mqtt.eclipseprojects.io', 'test.mosquitto.org']
print(f"Broker: {os.environ.get('BROKER')}")

Broker: broker.hivemq.com

In [16]:
Connected = True
mqttBroker = os.environ.get('BROKER')
port = int(os.environ.get('PORT'))
tag = os.environ.get('TAG')
client = mqtt.Client("Python")
client.connect(host=mqttBroker, port=port)

while Connected != False:
    try:
        for i,j,k in zip(temp, hum, co):
            publicar = f'Temperatura: {i}, Humedad: {j}, CO2: {k}'
            client.publish(tag, publicar)
            print(f"Just published {publicar} al topic {tag}")
            time.sleep(1)
    except KeyboardInterrupt:
        print('Sesión interrumpida')
        client.disconnect()
        Connected = False

Just published Temperatura: 22.0, Humedad: 27.1, CO2: 557.0 al topic MNA/EQUIPO/09
Just published Temperatura: 20.5, Humedad: 21.29, CO2: 435.5 al topic MNA/EQUIPO/09
Just published Temperatura: 20.7, Humedad: 22.79, CO2: 455.5 al topic MNA/EQUIPO/09
Just published Temperatura: 20.26, Humedad: 33.06, CO2: 452.3333333 al topic MNA/EQUIPO/09
Just published Temperatura: 23.1, Humedad: 17.0, CO2: 451.0 al topic MNA/EQUIPO/09
Just published Temperatura: 20.5, Humedad: 33.09, CO2: 572.0 al topic MNA/EQUIPO/09
Sesión interrumpida