Para abrir el cliente de este mqtt usar el siguiente enlace

<a href="https://colab.research.google.com/github/Alex980102/mqtt_MNA_A4/blob/main/client_mqtt.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

Para iniciar este proyecto solo debemos de dar click en Entorno de ejecuciÃ³n > Ejecutar todo

In [1]:
!git clone https://github.com/Alex980102/mqtt_MNA_A4.git

fatal: destination path 'mqtt_MNA_A4' already exists and is not an empty directory.

In [2]:
%cd /content/mqtt_MNA_A4/

/content/mqtt_MNA_A4

In [3]:
!pip install -r requirements.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: paho-mqtt in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (1.6.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (1.3.5)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 3)) (0.20.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->-r requirements.txt (line 2)) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)

In [4]:
import pandas as pd
import paho.mqtt.client as mqtt
import time
from random import randint
import os
import json
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/Alex980102/mqtt_MNA_A4/main/db/DatosPruebaMQTT.csv', index_col=0)
df

      Temperature  Humidity   Light         CO2  HumidityRatio
0           22.00   27.1000    0.00  557.000000       0.004431
1           20.50   21.2900    0.00  435.500000       0.003168
2           20.70   22.7900    0.00  455.500000       0.003435
3           20.26   33.0600    0.00  452.333333       0.004861
4           23.10   17.0000  283.25  451.000000       0.002965
...           ...       ...     ...         ...            ...
9994        22.00   21.3925  469.00  880.750000       0.003492
9995       285.29   26.2000   48.50  421.500000       0.003853
9996        22.79   17.1000  150.00  443.500000       0.002926
9997        19.39   26.8900    0.00  471.000000       0.003739
9998        21.60   18.5000   53.75  446.500000       0.002945

[9999 rows x 5 columns]

In [6]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9898 entries, 0 to 9998
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Temperature    9898 non-null   float64
 1   Humidity       9898 non-null   float64
 2   Light          9898 non-null   float64
 3   CO2            9898 non-null   float64
 4   HumidityRatio  9898 non-null   float64
dtypes: float64(5)
memory usage: 464.0 KB

In [7]:
df.describe()

       Temperature      Humidity        Light          CO2  HumidityRatio
count  9898.000000   9898.000000  9898.000000  9898.000000    9898.000000
mean     85.289824    478.969754   120.232916   607.146749       0.003861
std     199.728631   1701.386088   195.555121   314.453658       0.000851
min      19.000000     16.745000     0.000000   412.750000       0.002674
25%      19.790000     20.650000     0.000000   439.333333       0.003084
50%      20.600000     26.650000     0.000000   454.000000       0.003798
75%      21.790000     31.500000   263.250000   642.666667       0.004350
max    1019.500000  10026.000000  1546.333333  2028.500000       0.006476

In [8]:
temp = df.Temperature
hum = df.Humidity
co = df.CO2

In [9]:
# broker_list = ['broker.hivemq.com', 'mqtt.eclipseprojects.io', 'test.mosquitto.org', 'broker.mqttdashboard.com']
print(f"Broker: {os.environ.get('BROKER')}")

Broker: broker.hivemq.com

In [11]:
Connected = True
mqttBroker = str(os.environ.get('BROKER'))
tag = os.environ.get('TAG')
client = mqtt.Client()
client.connect(mqttBroker)

while Connected != False:
    try:
        for i,j,k in zip(temp, hum, co):
            publicar = {
                "Temperatura": i,
                "Humedad": j,
                "C02": k
            }
            publicar = json.dumps(publicar)
            client.publish(tag, publicar)
            print(f"Just published {publicar} al topic {tag}")
            time.sleep(1)
    except KeyboardInterrupt:
        print('SesiÃ³n interrumpida')
        client.disconnect()
        Connected = False

Just published {"Temperatura": 22.0, "Humedad": 27.1, "C02": 557.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.5, "Humedad": 21.29, "C02": 435.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.7, "Humedad": 22.79, "C02": 455.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.26, "Humedad": 33.06, "C02": 452.3333333} al topic MNA/EQUIPO/09
Just published {"Temperatura": 23.1, "Humedad": 17.0, "C02": 451.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.5, "Humedad": 33.09, "C02": 572.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.89, "Humedad": 19.1, "C02": 433.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.39, "Humedad": 3174.0, "C02": 461.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.29, "Humedad": 19.1, "C02": 466.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.6, "Humedad": 19.5, "C02": 440.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.29, "Humedad": 31.2, "C02": 437.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.39, "Humedad": 21.29, "C02": 443.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.29, "Humedad": 33.09, "C02": 452.6666667} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.34, "Humedad": 27.6, "C02": 435.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.5, "Humedad": 33.76, "C02": 704.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 311.745, "Humedad": 21.675, "C02": 917.25} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.29, "Humedad": 27.7, "C02": 433.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.39, "Humedad": 31.29, "C02": 435.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 22.39, "Humedad": 26.045, "C02": 1046.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.0, "Humedad": 25.29, "C02": 442.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.89, "Humedad": 28.625, "C02": 595.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.79, "Humedad": 31.96333333, "C02": 1167.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.5, "Humedad": 26.89, "C02": 458.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 22.5, "Humedad": 27.125, "C02": 1063.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 21.2, "Humedad": 25.245, "C02": 455.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 1005.29, "Humedad": 30.6, "C02": 427.3333333} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.89, "Humedad": 26.445, "C02": 418.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.39, "Humedad": 26.79, "C02": 467.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.745, "Humedad": 19.39, "C02": 439.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 263.525, "Humedad": 27.365, "C02": 486.75} al topic MNA/EQUIPO/09
Just published {"Temperatura": 21.365, "Humedad": 24.2225, "C02": 746.25} al topic MNA/EQUIPO/09
Just published {"Temperatura": 22.2225, "Humedad": 17.675, "C02": 443.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 671.79, "Humedad": 19.05, "C02": 629.75} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.5, "Humedad": 18.945, "C02": 425.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.39, "Humedad": 21.89, "C02": 435.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.84, "Humedad": 23.34, "C02": 448.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.6, "Humedad": 4467.6, "C02": 435.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.2, "Humedad": 32.79, "C02": 447.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 19.5, "Humedad": 30.2, "C02": 436.5} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.29, "Humedad": 22.89, "C02": 440.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.89, "Humedad": 23.5, "C02": 448.0} al topic MNA/EQUIPO/09
Just published {"Temperatura": 20.85666667, "Humedad": 19.76, "C02": 628.3333333} al topic MNA/EQUIPO/09
SesiÃ³n interrumpida